
<form action="" method="GET" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="booksData(form)">
    <input type="search" name="search" id="search" class="form-control" placeholder="Search by name" [(ngModel)]='search'>
    <!-- <div class="form-group">
            <button type="submit" class="btn-outline-success float-right" [disabled]="form.invalid">search</button>
        </div> -->
  </form >
  <br>
  <br>
  
  
  <table class="table table-border table-striped table-light col-md-8 offset-2">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Category</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let stock of product | filter: search' >
            <td>{{stock.product_id}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.catogory}}</td>
            <td>{{stock.company}}</td>
            <td>{{stock.quantity}}</td>
            <td>{{stock.price}}</td>
           </tr>
       </tbody>
   </table>
  