<form action="" class="col-md-4 offset-4 mt-5 card card-body"#form="ngForm"(ngSubmit)="loginData(form)">
    <h1 class="text-center bg-primary text-white">User</h1>

 <div class="form-group">
        <input type="login" name="login" id="login" class="form-control" placeholder ="please login...." #login="ngModel"ngModel required>
        <div *ngIf="login.touched && login.invalid">
            <p class="alert-danger" *ngIf="login.errors.required">*This field is required</p>
        </div>
 </div>
<div class="form-group">
    <input type="email" name="email" id="email" class="form-control" placeholder ="Enter Email...." #email="ngModel"ngModel required>
    <div *ngIf="email.touched && email.invalid">
        <p class="alert-danger" *ngIf="email.errors.required">*This field is required</p>
    </div>
</div>
<div class="form-group">
    <input type="password" name="password" id="password" class="form-control" placeholder="Enter password..." #password="ngModel"ngModel required>
    <div *ngIf="password.touched && password.invalid">
        <p class="alert-danger"   *ngIf="password.errors.required">*This field is required</p>

    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn-outline-success float-right">Login</button>
</div>

</form>
