<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" routerLink= "/home">StockManagement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        
        <li class="nav-item active" >
          <a class="nav-link text-white" routerLink="/add">Add-Product</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link text-white" routerLink="/get">Update-product</a>
        </li>

        <li class="nav-item active" >
          <a class="nav-link text-white" routerLink="/search">search-product</a>
        </li>
        
        <li class="nav-item active" >
          <a class="nav-link text-white" routerLink="/catogory">search-catogory</a>
        </li>

        <li class="nav-item active" >
          <a class="nav-link text-white" routerLink="/company">search-company</a>
        </li>
        
          </ul>
          
                    
     
    </div>
  </nav>
  <h1>Welcome to Stock Management System</h1>
  <div id="page">
    <img src="https://cdn.pixabay.com/photo/2019/03/13/11/07/supermarket-4052658_960_720.jpg" style="width: 100%; margin-left: -50px;">
  </div>
  